.criar-items {
    width: 100%;
}
.criar-input {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.criar-input p {
    font-weight: bold;
    margin-bottom: 2rem;
}
.criar-input input {
    cursor: pointer;
    width: 35%;
}
.criar-input .description {
    font-weight: normal;
    font-size: 12px;
    margin-top: .5rem;
}
.criar-bt {
    margin-top: 2rem;
    width: 100%;
}
.criar-bt button {
    width: 48%;
    border: none;
}
.divBookNameCriar, .divBookClientCriar, .divBookPessoaCriar {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.labelBookClientCriar, .labelBookNameCriar, .labelBookPessoaCriar {
    margin-bottom: .5rem!important;
}
.inputBookNameCriar, .selectBookClientCriar, .inputBookPessoaCriar {
    width: 100%!important;
    padding: 3px;
}
.inputBookNameCriar, .inputBookPessoaCriar {
    cursor: text!important;
}
.selectBookClientCriar {
    text-align: center;
}
.lista {
    text-align: center;
    width: 100%;
    padding: 5px;
}
.linha {
    display: flex;
    border-bottom: solid 1px gray;
    padding: 3px 0;
}
.linha:hover {
    background-color: rgba(0, 0, 0, 0.03);
}
.linha-bt {
    min-width: 8%;
    display: flex;
    justify-content: end;
    padding: 0 5px;
}
.linha-bt-bt {
    width: 100%;
}
.linha-bt-bt:hover {
    cursor: pointer!important;
}
.linha-nome {
    width: 35%;
    margin: auto;
}
.linha-data {
    width: 10%;
    margin: auto;
}
.gerar-novamente {
    width: 15%!important;
}
.gerar-novamente-bt {
    font-size: 12px!important;
}
