.form {
    padding: 1rem;
}
.input-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-left: .5rem;
    padding-right: .5rem;
}
.input-label {
    font-weight: bold;
    margin-bottom: .5rem;
}
.input-input {
    padding: .2rem;
    outline: none;
    width: 100%;
}
.input-group {
    margin-top: 2rem;
    display: flex;
}
.input-group-item {
    width: 50%;
    padding-left: .5rem;
    padding-right: .5rem;
}
.confirmar-bt {
    width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-top: 2rem;
}
.confirmar-bt button {
    width: 100%;
    padding: .5rem;
    font-weight: bold;
    margin-top: .5rem;
}
.linha {
    display: flex;
    border-bottom: solid 1px gray;
    padding: 3px 0;
}
.linha:hover {
    background-color: rgba(0, 0, 0, 0.03);
}
.linha-bt {
    min-width: 8%;
    display: flex;
    justify-content: end;
    padding: 0 5px;
}
.linha-bt-bt {
    width: 100%;
}
.linha-bt-bt:hover {
    cursor: pointer!important;
}
.linha-nome {
    width: 40%;
    margin: auto;
}
.visualizar-item {
    width: 100%;
}
.label-item {
    font-weight: bold;
    margin-bottom: 0!important;
}
.input-edit {
    padding: 3px;
    margin-top: .5rem;
    width: 100%;
    margin-bottom: 1rem;
}