@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
}
body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(236, 236, 236);
    justify-content: space-between;
}
.top-navbar {
    width: 100%;
    height: 5rem;
    padding: 10px 0px;
    background: linear-gradient(black, rgb(31, 31, 31));
}
.top-navbar .container {
    display: flex;
    height: 100%;
}
.top-navbar-logo {
    margin: auto;
    width: 10%;
    height: auto;
}
.top-navbar-title {
    height: auto;
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}
.lang-active {
    font-weight: bold;
}
.footer {
    width: 100%;
    background: linear-gradient(black, rgb(31, 31, 31));;
    height: 7rem;
    color: white;
    text-align: center;
    display: flex;
}
.footer p {
    height: auto;
    margin: auto;
}
.aside {
    background-color: white;
    margin-top: .5rem;
    width: 15%;
    height: 25rem;
    border-radius: 0 .5rem .5rem 0;
    box-shadow: 3px 5px 5px rgba(20, 20, 20, 0.2);
}
.aside-header {
    border-radius: 0 .5rem 0 0;
    height: 6rem;
    background: linear-gradient(rgb(216, 216, 0),rgb(255, 255, 60));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem
}
.user-name {
    width: 100%;
    font-size: 17px;
    font-weight: bold;
}
.aside-header-sair {
    width: 100%;
}
.aside-header-sair a {
    text-decoration: none;
    color: rgb(104, 104, 104);
}
.aside-header-sair a:hover {
    color: rgb(43, 43, 43);
}
.aside-option {
    font-weight: 500;
    padding: 1rem;
}
.aside-option:hover {
    background-color: rgba(0, 0, 0, 0.05)!important;
    cursor: pointer;
}
.body {
    width: 83.5%;
    background-color: white;
    min-height: 85.5vh;
    margin-top: .5rem;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
}
.body-header {
    width: 100%;
    display: flex;
    padding: 3px;
    border-radius: 3px;
}
.body-header-opt {
    min-width: 15%;
    text-align: center;
    padding: .5rem;
    font-weight: bold;
    margin-right: .5rem;
    box-shadow: 3px 2px 5px rgba(20, 20, 20, 0.2);
    cursor: pointer;
}
.body-header-opt.select {
    background-color: rgb(240, 240, 240);
}
.gold-bt {
    background: linear-gradient(rgb(182, 182, 0),rgb(255, 255, 60));
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    box-shadow: 0px 3px 3px rgba(20, 20, 20, 0.2);
}
.gold-bt:hover {
    opacity: .95;
    cursor: pointer;
}
.gold-bt:active {
    position: relative;
    box-shadow: 0px 0px 3px rgba(20, 20, 20, 0.2);
    top: 3px;
}
.body-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 1rem;
    border: solid 1px rgb(230, 230, 230);
    border-radius: 1rem;
    box-shadow: 3px 2px 5px rgba(20, 20, 20, 0.2);
}