.divHeader {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.03);
    padding: .5rem;
    border-radius: 1rem;
}
.divHeaderInput {
    width: 50%;
    padding: .5rem;
}
.divHeaderInput p {
    height: auto;
    margin: .5rem 0;
    font-weight: bold;
}
.divHeaderInput input {
    width: 100%;
    padding: .3rem;
}
.divEmployee {
    display: flex;
    padding: 1rem;
    margin: 1rem 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 1rem;
}
.divEmployeeTitle {
    width: 30%;
    display: flex;
}
.divEmployeeTitle span {
    margin: auto auto auto 0;
    font-weight: bold;
}
.divEmployeeInput {
    width: 70%;
    display: flex;
}
.divEmployeeInput input {
    width: 100%;
    padding: 3px;
}
.divAgencia {
    display: flex;
    padding: 1rem;
    margin: 1rem 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 1rem;
}
.divAgenciaCheck {
    width: 5%;
    display: flex;
    justify-content: center;
}
.divAgenciaCheck input {
    margin: auto;
    cursor: pointer;
}
.divAgenciaName {
    width: 70%;
    padding: 0 .5rem;
}
.divAgenciaName p {
    font-weight: bold;
}
.divAgenciaName input {
    width: 100%;
    padding: 3px;
}
.divAgenciaComissao {
    width: 25%;
    padding: 0 .5rem;
}
.divAgenciaComissao p {
    font-weight: bold;
}
.divAgenciaComissao input {
    width: 100%;
    padding: 3px;
}
.divAddItem {
    width: 100%;
    padding: .5rem;
    margin: 1rem 0;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}
.divAddItemTitle {
    width: 100%;
    display: flex;
    padding: .5rem 1rem;
    border-radius: .5rem;
    margin: .5rem auto;
    background-color: white;
}
.divAddItemTitle span {
    margin: auto;
    font-weight: bold;
    font-size: 20px;
}
.divAddItemParam {
    display: flex;
    background-color: white;
    padding: .5rem;
    height: 3rem;
}
.divAddItemParamTitle {
    width: 15%;
    display: flex;
}
.divAddItemParamTitle span {
    margin: auto;
    margin-left: 0;
    font-weight: bold;
}
.divAddItemParamInput {
    width: 60%;
    display: flex;
    justify-content: space-around;
}
.addMidiaSelect, .midiaOutrosInput {
    width: 48%!important;
    padding: 3px;
}
.divAddItemParamInput input, .divAddItemParamInput select {
    width: 100%;
    padding: 3px;
}
.divAddItemParamShow {
    width: 25%;
    display: flex;
}
.divAddItemParamShow span {
    font-weight: bold;
    width: auto;
    margin: auto;
    word-wrap: break-word;
}
.bookShowSpan {
    font-weight: normal!important;
}
.divBlankData {
    margin: 1rem 0;
    padding: 1rem;
    background-color: white;
    display: flex;
}
.isBlankDiv {
    display: flex;
    width: 50%;
}
.isBlankDiv span {
    margin-left: 1rem;
}
.divMultiParams {
    width: 100%;
    display: flex;
    background-color: white;
    padding: .5rem;
    margin: .1rem 0;
    height: auto;
}
.divMiniParam {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: .5rem .3rem;
}
.divMiniParam span {
    font-weight: bold;
    margin: 0 auto;
}
.divMiniParam input {
    width: 100%;
    padding: 3px;
}
.divMiniParam p {
    height: auto;
    width: auto;
    margin: .5rem auto auto auto;
}
.addButton {
    width: 100%;
    height: 2.5rem;
    font-weight: bold;
    margin: .5rem 0;
    box-shadow: 0px 3px 3px rgb(99, 99, 99);
}
.addButton:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 0px 3px rgb(99, 99, 99);
}
.divShow {
    overflow-x: auto;
}
.divShowProposta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200%;
}
.divHeaderItemShow {
    width: 16.66%;
    padding: .5rem;
    display: flex;
    background-color: white;
    margin: .5px 0;
}
.divHeaderItemShow span {
    width: 30%;
    height: auto;
    text-align: start;
    margin: auto 0;
    font-weight: bold;
}
.divHeaderItemShow p {
    width: 70%;
    height: auto;
    margin: auto;
    text-align: start;
}
.divShowItems {
    width: 100%;
}
.divShowItemsHeader {
    width: 100%;
    display: flex;
    padding: .5rem 0;
    background-color: black;
    color: white;
    margin: .5rem 0 0 0;
}
.lgHeader {
    width: 15.076%;
    display: flex;
}
.lgHeader span {
    margin: auto;
    font-weight: bold;
    font-size: 12px;
}
.mdHeader {
    width: 7.692%;
    display: flex;
}
.mdHeader span {
    margin: auto;
    font-weight: bold;
    font-size: 12px;
}
.smHeader {
    width: 4%;
    display: flex;
}
.smHeader span {
    margin: auto;
    font-weight: bold;
    font-size: 12px;
}
.periodoHeader {
    width: 4.692%;
    display: flex;
}
.periodoHeader span {
    margin: auto;
    font-weight: bold;
    font-size: 12px;
}
.deleteHeader {
    width: 3%;
    display: flex;
}
.divShowItemsBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 5rem;
    background-color: white;
}
.emptyText {
    width: auto;
    margin: auto auto auto 10rem;
}
.lineDiv {
    width: 100%;
    display: flex;
    height: auto;
}
.lineDivItem {
    min-height: 2.5rem;
    display: flex;
    border: solid .5px gray;
}
.lineDivItem span {
    margin: auto;
}
.lineDivItem a {
    margin: auto;
}
.mdLineDiv {
    width: 7.692%;
}
.lgLineDiv {
    width: 15.076%;
}
.smLineDiv {
    width: 4%;
}
.periodoLineDiv {
    width: 4.692%;
}
.deleteLineDiv {
    width: 3%;
    display: flex;
}
.deleteLineDiv button {
    font-size: 12px;
    width: 75%;
    height: 75%;
    margin: auto;
    font-weight: bold;
    padding: 0;
}
.lineTotal {
    font-weight: bold;
}
.gerarBt {
    width: 100%;
    font-weight: bold;
    margin-top: 2rem;
    box-shadow: 0px 3px 3px rgb(99, 99, 99);
    height: 2.5rem;
}
.gerarBt:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 0px 3px rgb(99, 99, 99);
}