@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body {
    display: flex;
    height: 100vh;
}
.language-box {
    width: 50%;
    height: 50% auto;
    margin: auto;
    padding: 2rem;
}
.language {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: 3rem;
    box-shadow: 0px 5px 10px rgba(5, 0, 0, 0.3);
}
.language:hover {
    opacity: .90;
}
.language:active {
    position: relative;
    top: 3px;
    box-shadow: 0px 2px 3px rgba(5, 0, 0, 0.3);
}
.language img {
    width: 15%;
    height: auto;
}
.language p {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    width: 50%;
    text-align: center;
    color: rgb(19, 19, 19);
}
.portugues {
    background-color: rgb(255, 255, 199);
}
.espanol {
    background-color: rgb(231, 231, 255);
}
.english {
    background-color: rgb(253, 154, 154);
}